body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    color: #333;
}

.weather-result {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
}

.card img {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}
